
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Test Ab6net</title>
</head>
<body>
    <h1>Test de recrutement Ab6Net</h1>

    <div>
        <button>Connexion</button>
    </div>
</body>
</html>